<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797976019931-dlblpsuvdk37ob3993opt7l6loc2g1f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797976019931-dlblpsuvdk37ob3993opt7l6loc2g1f0</string>
	<key>API_KEY</key>
	<string>AIzaSyD-IMjNZSJNvDSCxFI94eJtRCZtIeWBD1o</string>
	<key>GCM_SENDER_ID</key>
	<string>797976019931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-afd1b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-afd1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797976019931:ios:de1f83b72008ee5930ddfe</string>
</dict>
</plist>